RewriteEngine On
RewriteBase /

# Redirect all requests to frontController.php except existing files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ frontController.php?action=$1 [QSA,L]
